<connectionStrings>
  <add name="NWDB"
        connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security= true"
        providerName="System.Data.SqlClient"/>
  <add name="FSISDB"
        connectionString="Data Source=.; Initial Catalog=FSIS_Database; Integrated Security= true"
        providerName="System.Data.SqlClient"/>
  <add name="StarTEDDB"
          connectionString="Data Source=.; Initial Catalog=StarTED; Integrated Security=true"
           providerName="System.Data.SqlClient"/>
</connectionStrings>